<div class="card-product">
  <img src="https://loremflickr.com/320/240/restaurant">
  <div class="card-product-infos">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  </div>
  <%= link_to 'Go to this restaurant', restaurant_path(restaurant), class: 'card-link' %>
</div>
