<div class="card-product">
  <% if restaurant.photo.attached? %>
    <%= image_tag restaurant.photo %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  </div>
  <%= link_to 'Go to this restaurant', restaurant_path(restaurant), class: 'card-link' %>
</div>
